<!doctype html>
<html lang="ru">
 <head>
  <meta charset="utf-8">
  <title>Вакансии</title>
 </head>
 <body>
  <table>
   <tbody>
    <tr>
     <th>Title</th>
     <th>City</th>
     <th>Company Name</th>
     <th>Salary</th>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000109498">Java-разработчик / Java-developer</a></td>
     <td class="city"></td>
     <td class="companyName">Передовые Платежные Решения</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000110280">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">МегаФон</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114244">Java разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">МТС</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000110264">Java Developer</a></td>
     <td class="city">Будва</td>
     <td class="companyName">First Line Software</td>
     <td class="salary">от 3700 до 5600 $</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000112469">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114220">Java-разработчик</a></td>
     <td class="city">Санкт-Петербург</td>
     <td class="companyName">МТС</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000101566">Java программист</a></td>
     <td class="city">Волгоград</td>
     <td class="companyName">Sportmaster Lab</td>
     <td class="salary">от 200 000 до 350 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114619">Java Developer</a></td>
     <td class="city"></td>
     <td class="companyName">TNation</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000115044">Java разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000099536">Разработчик Java</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Газпромбанк</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000100463">Java разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">РТЛабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000111643">Java developer</a></td>
     <td class="city">Иннополис</td>
     <td class="companyName">Сбер</td>
     <td class="salary">от 130 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000086875">Java-разработчик</a></td>
     <td class="city">Пермь</td>
     <td class="companyName">Detkin&amp;Co</td>
     <td class="salary">от 150 000 до 200 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113953">Java-разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">Датаномика</td>
     <td class="salary">от 250 000 до 320 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000111444">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Ростелеком Информационные Технологии</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114911">Java разработчик</a></td>
     <td class="city">Уфа</td>
     <td class="companyName">ЛАНИТ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000100574">Java Developer</a></td>
     <td class="city"></td>
     <td class="companyName">РТЛабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114633">Java-разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">iFellow</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000112743">Java-разработчик</a></td>
     <td class="city">Санкт-Петербург</td>
     <td class="companyName">Сбер</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000110902">Java разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">SberTech</td>
     <td class="salary">от 170 000 до 230 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000115127">Разработчик Java</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000101560">Java разработчик</a></td>
     <td class="city">Киров</td>
     <td class="companyName">Sportmaster Lab</td>
     <td class="salary">от 200 000 до 350 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000074291">Middle Java Developer/ Программист Java</a></td>
     <td class="city"></td>
     <td class="companyName">Fix Price</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000115045">Автотестировщик (Java) / QA Automation Java</a></td>
     <td class="city"></td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000115246">Java Developer</a></td>
     <td class="city">Париж</td>
     <td class="companyName">Diabolocom</td>
     <td class="salary">от 6000 до 10 000 €</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000108026">Java разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">Газпромбанк</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113367">Java developer (Страхование)</a></td>
     <td class="city"></td>
     <td class="companyName">Иннотех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000102980">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Rambler&amp;Co</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114959">Java – разработчик</a></td>
     <td class="city">Томск</td>
     <td class="companyName">Farpost</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000080748">Java разработчик</a></td>
     <td class="city">Санкт-Петербург</td>
     <td class="companyName">Sportmaster Lab</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000101564">Java developer</a></td>
     <td class="city">Екатеринбург</td>
     <td class="companyName">Sportmaster Lab</td>
     <td class="salary">от 200 000 до 350 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113124">Разработчик Java backend Senior</a></td>
     <td class="city"></td>
     <td class="companyName">Иннотех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000110857">Архитектор Java</a></td>
     <td class="city"></td>
     <td class="companyName">ЛАНИТ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000093627">Java Software Engineer (Batch)</a></td>
     <td class="city">Ростов-на-Дону</td>
     <td class="companyName">SberTech</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114836">Senior Java-разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">DatsTeam</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000115285">QA Automation engineer (Java)</a></td>
     <td class="city"></td>
     <td class="companyName">СберЛогистика</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113175">Java Developer Lead</a></td>
     <td class="city"></td>
     <td class="companyName">Иннотех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113236">Архитектор (Java)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">РТЛабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114623">Java разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">Россельхозбанк</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000110385">Senior Java разработчик (ТФиДО)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000109017">Руководитель разработки Java</a></td>
     <td class="city"></td>
     <td class="companyName">Газпромбанк</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000110828">Java-разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">Газпром ID</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114529">Java Developer</a></td>
     <td class="city"></td>
     <td class="companyName">Aston (ex. Andersen)</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000108373">Java-разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113117">Senior Java backend</a></td>
     <td class="city"></td>
     <td class="companyName">Иннотех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113817">Java Developer</a></td>
     <td class="city"></td>
     <td class="companyName">Aston (ex. Andersen)</td>
     <td class="salary">от 280 000 до 400 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000112940">Архитектор решений (Java)</a></td>
     <td class="city"></td>
     <td class="companyName">beeline</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113553">Java-разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">Газпром ID</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114183">Java-разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">Сибур</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113262">Java разработчик</a></td>
     <td class="city">Новосибирск</td>
     <td class="companyName">Банк России</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113736">Java программист (Совкомбанк Технологии)</a></td>
     <td class="city">Екатеринбург</td>
     <td class="companyName">Совкомбанк Технологии</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000105220">Старший Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">VK</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113731">Java developer</a></td>
     <td class="city"></td>
     <td class="companyName">R-One</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000100665">Разработчик Java</a></td>
     <td class="city"></td>
     <td class="companyName">РТЛабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000109483">Java разработчик (Продуктовая разработка)</a></td>
     <td class="city"></td>
     <td class="companyName">Т1 Консалтинг</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000109488">Java разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">Т1 Консалтинг</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000102033">Java Developer</a></td>
     <td class="city">Ижевск</td>
     <td class="companyName">Ардекс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000100643">Архитектор (Java)</a></td>
     <td class="city"></td>
     <td class="companyName">РТЛабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000112821">Java-разработчик / Middle java developer (АльфаПартнерс)</a></td>
     <td class="city"></td>
     <td class="companyName">АльфаСтрахование</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113917">Java разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">МегаФон</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000109720">Middle\Middle+ Java Developer (Лизинг)</a></td>
     <td class="city"></td>
     <td class="companyName">Т1 Консалтинг</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114398">Java-разработчик (middle, интеграция)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Россельхозбанк</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000110069">Разработчик Java</a></td>
     <td class="city"></td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000100629">Java Developer (middle/senior)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">РТЛабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000115057">Java разработчик</a></td>
     <td class="city">Челябинск</td>
     <td class="companyName">IBS</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000107412">Java разработчик в Tinkoff Black</a></td>
     <td class="city"></td>
     <td class="companyName">TINKOFF</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113178">Java-разработчик (Торгово-сервисные предприятия)</a></td>
     <td class="city"></td>
     <td class="companyName">Иннотех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114787">Разработчик Java (интеграции)</a></td>
     <td class="city"></td>
     <td class="companyName">СОГАЗ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000099418">Java-разработчик (Бизнес решения)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">SberTech</td>
     <td class="salary">до 350 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114124">Middle Java разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">SimbirSoft</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000072538">Java/Kotlin разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">СофтТелематика</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113361">Senior Java developer (Ипотека)</a></td>
     <td class="city"></td>
     <td class="companyName">Иннотех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000109474">Java программист (Совкомбанк Технологии)</a></td>
     <td class="city">Череповец</td>
     <td class="companyName">Совкомбанк Технологии</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000111705">Java-разработчик (middle+/senior)</a></td>
     <td class="city">Пенза</td>
     <td class="companyName">TINKOFF</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114139">Team Lead (Java)</a></td>
     <td class="city"></td>
     <td class="companyName">Газпром ID</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000111706">Java-разработчик (middle+/senior)</a></td>
     <td class="city">Киров</td>
     <td class="companyName">TINKOFF</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000112504">Senior Java-разработчик</a></td>
     <td class="city">Екатеринбург</td>
     <td class="companyName">Сбер</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000094369">Senior Java developer/Architect</a></td>
     <td class="city"></td>
     <td class="companyName">NEWHR</td>
     <td class="salary">от 350 000 до 480 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113745">Разработчик Java (СберТренер)</a></td>
     <td class="city">Екатеринбург</td>
     <td class="companyName">Сбер</td>
     <td class="salary">до 200 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000112568">Java developer SberGeoData</a></td>
     <td class="city">Самара</td>
     <td class="companyName">Сбер</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000080513">Java Разработчик (Инвестиции)</a></td>
     <td class="city">Сочи</td>
     <td class="companyName">TINKOFF</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000115039">Senior Java разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000107150">Разработчик Java</a></td>
     <td class="city"></td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000108500">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ЛАНИТ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000104057">Java-разработчик (проект Data Transfer)</a></td>
     <td class="city">Новосибирск</td>
     <td class="companyName">SberTech</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000106259">Java Team Lead</a></td>
     <td class="city"></td>
     <td class="companyName">Innostage</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000111704">Java-разработчик (middle+/senior)</a></td>
     <td class="city">Сочи</td>
     <td class="companyName">TINKOFF</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000111703">Java-разработчик (middle+/senior)</a></td>
     <td class="city">Краснодар</td>
     <td class="companyName">TINKOFF</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113623">Java разработчик к команду "Миграция"</a></td>
     <td class="city"></td>
     <td class="companyName">Иннотех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000111449">Разработчик Java</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113806">Java/Kotlin разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">Домклик</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000112208">Java-разработчик</a></td>
     <td class="city">Нижний Новгород</td>
     <td class="companyName">Иннотех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000111931">Автотестировщик (Java)</a></td>
     <td class="city">Екатеринбург</td>
     <td class="companyName">Сбер</td>
     <td class="salary">до 160 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000111923">Java разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000063188">Java-разработчик</a></td>
     <td class="city">Новосибирск</td>
     <td class="companyName">Eltex</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113767">Java-разработчик (Lead/Senior)</a></td>
     <td class="city"></td>
     <td class="companyName">beeline</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000106222">Java-разработчик (Образовательная платформа)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">SberTech</td>
     <td class="salary">от 200 000 до 400 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000108190">Senior java developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">РТК-Элемент</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000109140">Senior Java Developer (Camunda)</a></td>
     <td class="city"></td>
     <td class="companyName">Т1 Консалтинг</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000115095">Senior Java разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Faberlic</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000115095">Senior Java разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Faberlic</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113888">Middle /Senior Разработчик JAVA</a></td>
     <td class="city"></td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000112752">Senior Java developer</a></td>
     <td class="city">Краснодар</td>
     <td class="companyName">S7 Airlines</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113958">Java Team Lead</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Банк России</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000100723">Senior Java Developer</a></td>
     <td class="city"></td>
     <td class="companyName">РТЛабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000108028">Java/Kotlin developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Газпромбанк</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000115168">Team Lead (Java)</a></td>
     <td class="city">Рязань</td>
     <td class="companyName">ITFB Group</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000111608">Разработчик Java (Middle/Senior)</a></td>
     <td class="city">Хабаровск</td>
     <td class="companyName">Совкомбанк Технологии</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000111960">Team Lead Java</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер</td>
     <td class="salary">от 250 000 до 350 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113149">Senior Java developer (Сервис Биллинга)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000106374">Senior Java Developer</a></td>
     <td class="city">Санкт-Петербург</td>
     <td class="companyName">Омега</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000112317">Teamlead Backend (Java)</a></td>
     <td class="city"></td>
     <td class="companyName">РТЛабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000074019">Java developer (middle/senior)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Forward Telecom</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000100675">Разработчик Java</a></td>
     <td class="city">Москва</td>
     <td class="companyName">РТЛабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000112306">Java Tech Lead</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Банк ПСБ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000100553">Senior Java Developer</a></td>
     <td class="city"></td>
     <td class="companyName">РТЛабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000115128">Senior Java разработчик</a></td>
     <td class="city"></td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114892">Java-разработчик (блокчейн)</a></td>
     <td class="city"></td>
     <td class="companyName">Иннотех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113128">Java-разработчик (ОАД)</a></td>
     <td class="city"></td>
     <td class="companyName">Иннотех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000112395">Java Developer</a></td>
     <td class="city">Самара</td>
     <td class="companyName">Сбер</td>
     <td class="salary">от 250 000 ₽</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000100977">Java Developer (Jazz)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">TINKOFF</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000113880">Java Разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">GlowByte</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000100646">Senior Java Developer (IT)</a></td>
     <td class="city"></td>
     <td class="companyName">РТЛабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000099748">Java Team Lead</a></td>
     <td class="city">Санкт-Петербург</td>
     <td class="companyName">SberTech</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://career.habr.com/vacancies/1000114622">Java Team Lead (ЕФР)</a></td>
     <td class="city"></td>
     <td class="companyName">Россельхозбанк</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy template" style="display: none">
     <td class="title"><a href="url"></a></td>
     <td class="city"></td>
     <td class="companyName"></td>
     <td class="salary"></td>
    </tr>
   </tbody>
  </table>
 </body>
</html>