<!doctype html>
<html lang="ru">
 <head>
  <meta charset="utf-8">
  <title>Вакансии</title>
 </head>
 <body>
  <table>
   <tbody>
    <tr>
     <th>Title</th>
     <th>City</th>
     <th>Company Name</th>
     <th>Salary</th>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73410442?from=vacancy_search_list&amp;query=java+Moscow">Java Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Дартс рекрутинг сервисез</td>
     <td class="salary">250 000 – 300 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/66227087?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва, Маяковская</td>
     <td class="companyName">URSiP</td>
     <td class="salary">от 200 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73352011?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик (SberMonitoring)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер для экспертов</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73379893?from=vacancy_search_list&amp;query=java+Moscow">Разработчик Java (Middle/Senior)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Human Line</td>
     <td class="salary">230 000 – 300 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69401504?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ПАО МегаФон, IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73401070?from=vacancy_search_list&amp;query=java+Moscow">IT-инженер 3 линии сопровождения (Java)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">SberTech</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72051278?from=vacancy_search_list&amp;query=java+Moscow">Senior Java specialist</a></td>
     <td class="city">Москва</td>
     <td class="companyName">EFIX GROUP</td>
     <td class="salary">300 000 – 350 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70446654?from=vacancy_search_list&amp;query=java+Moscow">Программист (Java-разработчик)</a></td>
     <td class="city">Москва, Коньково и еще 1</td>
     <td class="companyName">ФГАОУ ВО РОССИЙСКИЙ НАЦИОНАЛЬНЫЙ ИССЛЕДОВАТЕЛЬСКИЙ МЕДИЦИНСКИЙ УНИВЕРСИТ им.Н.И. ПИРОГОВА МИНИСТЕРСТВА ЗДРАВООХРАНЕНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ</td>
     <td class="salary">до 100 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71768240?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва, Красный строитель и еще 1</td>
     <td class="companyName">Faberlic</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73439470?from=vacancy_search_list&amp;query=java+Moscow">Ментор по Java (middle/senior)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Your CodeReview</td>
     <td class="salary">от 25 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/49052678?from=vacancy_search_list&amp;query=java+Moscow">Backend разработчик Java/Kotlin</a></td>
     <td class="city">Санкт-Петербург, Беговая</td>
     <td class="companyName">Okko</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73232009?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик Junior</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Лига Цифровой Экономики</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73404883?from=vacancy_search_list&amp;query=java+Moscow">Senior Java Разработчик</a></td>
     <td class="city">Москва, Зорге и еще 2</td>
     <td class="companyName">ООО Транснефть-Технологии</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73401456?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик (СберБизнес)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер для экспертов</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69541799?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик</a></td>
     <td class="city">Москва, Проспект Вернадского</td>
     <td class="companyName">ООО Ростелеком Информационные Технологии</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73394154?from=vacancy_search_list&amp;query=java+Moscow">Ведущий разработчик Java</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО АйДи – Технологии управления</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73153735?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (Дзен)</a></td>
     <td class="city">Москва, Павелецкая и еще 2</td>
     <td class="companyName">VK, Дзен</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/68562912?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69178336?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (работа в офисе)</a></td>
     <td class="city">Москва, Киевская</td>
     <td class="companyName">ООО РК-ЦИФРА</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71437831?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик (продукт detmir.ru)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ПАО Детский Мир</td>
     <td class="salary">до 420 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69616945?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Санкт-Петербург, Беговая</td>
     <td class="companyName">Okko</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71919324?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73082453?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик (middle+)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Right Line</td>
     <td class="salary">250 000 – 350 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70837691?from=vacancy_search_list&amp;query=java+Moscow">Java Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Axenix (ранее Accenture)</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73185823?from=vacancy_search_list&amp;query=java+Moscow">Java Developer (Remote)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">LATOKEN</td>
     <td class="salary">до 3 000 USD</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73176153?from=vacancy_search_list&amp;query=java+Moscow">Java/Kotlin developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Газпромбанк</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72856154?from=vacancy_search_list&amp;query=java+Moscow">Java/Kotlin разработчик</a></td>
     <td class="city">Москва, Крестьянская застава</td>
     <td class="companyName">ООО МультиКарта</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69348087?from=vacancy_search_list&amp;query=java+Moscow">Senior Java-разработчик</a></td>
     <td class="city">Москва, Красные ворота</td>
     <td class="companyName">Отраслевой центр разработки и внедрения информационных систем / ОЦРВ</td>
     <td class="salary">от 280 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69467190?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик (Lead)</a></td>
     <td class="city">Москва, Павелецкая и еще 1</td>
     <td class="companyName">Страховая компания Пульс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73138168?from=vacancy_search_list&amp;query=java+Moscow">Архитектор (java)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер для экспертов</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71923057?from=vacancy_search_list&amp;query=java+Moscow">Senior Java-разработчик (ТФиДО)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71817747?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва, Охотный ряд</td>
     <td class="companyName">Ростелеком-Солар</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73089510?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69533213?from=vacancy_search_list&amp;query=java+Moscow">Разработчик Java</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Ростелеком Информационные Технологии</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69607632?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик в Группу платежной платформы</a></td>
     <td class="city">Москва, Водный стадион</td>
     <td class="companyName">Тинькофф</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73387932?from=vacancy_search_list&amp;query=java+Moscow">Java developer (Middle/Senior)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Лига Цифровой Экономики</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71926168?from=vacancy_search_list&amp;query=java+Moscow">Разработчик Java (Middle)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Лига Цифровой Экономики</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71607728?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (платёжный сервис SmartPay)</a></td>
     <td class="city">Москва, Кутузовская и еще 1</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary">200 000 – 400 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72542378?from=vacancy_search_list&amp;query=java+Moscow">Senior Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72372878?from=vacancy_search_list&amp;query=java+Moscow">Java Developer</a></td>
     <td class="city">Москва, Электрозаводская</td>
     <td class="companyName">Группа компаний SRG</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72883220?from=vacancy_search_list&amp;query=java+Moscow">Java developer (Senior)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71376660?from=vacancy_search_list&amp;query=java+Moscow">Senior Java Developer</a></td>
     <td class="city">Москва, Зорге и еще 2</td>
     <td class="companyName">ООО Транснефть-Технологии</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72690077?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва, Кутузовская</td>
     <td class="companyName">ООО Датаномика</td>
     <td class="salary">250 000 – 350 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73075197?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (блокчейн)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72006100?from=vacancy_search_list&amp;query=java+Moscow">Java developer</a></td>
     <td class="city">Москва, Тульская</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73246610?from=vacancy_search_list&amp;query=java+Moscow">Backend developer (Java)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО СберОбразование</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70749905?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/48714116?from=vacancy_search_list&amp;query=java+Moscow">Full stack developer JAVA</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Филиал ФКУ Налог-Сервис ФНС России по ЦОД в г.Москве</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72779889?from=vacancy_search_list&amp;query=java+Moscow">Senior/ Middle Java Developer (Brokerage)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary">250 000 – 320 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72882252?from=vacancy_search_list&amp;query=java+Moscow">Java developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">КСК-Эйч Ар</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72872395?from=vacancy_search_list&amp;query=java+Moscow">Java developer</a></td>
     <td class="city">Москва, Сокольники</td>
     <td class="companyName">ПАО Промсвязьбанк</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73059100?from=vacancy_search_list&amp;query=java+Moscow">Ведущий Java-разработчик (Senior)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">АО Инновации Безопасности</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72735007?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Ростелеком Информационные Технологии</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71912360?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик/Java Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">INTECH</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/67237240?from=vacancy_search_list&amp;query=java+Moscow">Разработчик Scala</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Главгосэкспертиза</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70768385?from=vacancy_search_list&amp;query=java+Moscow">Разработчик Kotlin/Java</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Ростелеком Информационные Технологии</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72111339?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72864189?from=vacancy_search_list&amp;query=java+Moscow">Backend разработчик, JAVA</a></td>
     <td class="city">Алматы, Москва</td>
     <td class="companyName">ТОО Синсерити Казахстан</td>
     <td class="salary">600 000 – 1 200 000 KZT</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/54034881?from=vacancy_search_list&amp;query=java+Moscow">Разработчик Java</a></td>
     <td class="city">Москва, Савёловская и еще 2</td>
     <td class="companyName">Лига Цифровой Экономики</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73074646?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (банковская платформа)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/68772520?from=vacancy_search_list&amp;query=java+Moscow">Java-developer (СБОЛ.Про)</a></td>
     <td class="city">Москва, Кутузовская</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/68562912?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72872395?from=vacancy_search_list&amp;query=java+Moscow">Java developer</a></td>
     <td class="city">Москва, Сокольники</td>
     <td class="companyName">ПАО Промсвязьбанк</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73176153?from=vacancy_search_list&amp;query=java+Moscow">Java/Kotlin developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Газпромбанк</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71438271?from=vacancy_search_list&amp;query=java+Moscow">Java developer (Москва)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Лига Цифровой Экономики</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73153735?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (Дзен)</a></td>
     <td class="city">Москва, Павелецкая и еще 2</td>
     <td class="companyName">VK, Дзен</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73205828?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик (проект ЕКС)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">СБЕРКОРУС</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73075197?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (блокчейн)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72120693?from=vacancy_search_list&amp;query=java+Moscow">Fullstack developer (remote)</a></td>
     <td class="city">Москва, Белорусская</td>
     <td class="companyName">Банк Хоум Кредит</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/68772424?from=vacancy_search_list&amp;query=java+Moscow">Java-developer (цифровая трансформация)</a></td>
     <td class="city">Москва, Кутузовская и еще 1</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71817747?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва, Охотный ряд</td>
     <td class="companyName">Ростелеком-Солар</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72111339?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70819760?from=vacancy_search_list&amp;query=java+Moscow">Java developer (команда СберПраво)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/68018625?from=vacancy_search_list&amp;query=java+Moscow">Java developer (Senior)</a></td>
     <td class="city">Москва, Павелецкая</td>
     <td class="companyName">Первый ОФД</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71660654?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Okko</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72873147?from=vacancy_search_list&amp;query=java+Moscow">Java developer (Middle +)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ГРЧЦ, ФГУП</td>
     <td class="salary">до 250 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73202981?from=vacancy_search_list&amp;query=java+Moscow">Java Developer in Test (Удаленно)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Ибс Инфинисофт</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/68793124?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70584845?from=vacancy_search_list&amp;query=java+Moscow">Java Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Paragon Software</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71818007?from=vacancy_search_list&amp;query=java+Moscow">Senior/Middle Java Developer (remote)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">РобоФинанс</td>
     <td class="salary">до 300 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71757612?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик в PRM</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Тинькофф</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72808635?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71054248?from=vacancy_search_list&amp;query=java+Moscow">Вackend Developer Java (SberDevices/Jazz - платформа видеоконференции)</a></td>
     <td class="city">Москва, Кутузовская и еще 1</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72795626?from=vacancy_search_list&amp;query=java+Moscow">Разработчик Java / Developer Java</a></td>
     <td class="city">Москва, Технопарк</td>
     <td class="companyName">OFFPRICE</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/46334680?from=vacancy_search_list&amp;query=java+Moscow">Java developer</a></td>
     <td class="city">Челябинск</td>
     <td class="companyName">Infinnity Solutions</td>
     <td class="salary">от 130 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70476201?from=vacancy_search_list&amp;query=java+Moscow">Lead Java Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ЛИЦА</td>
     <td class="salary">400 000 – 500 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73199371?from=vacancy_search_list&amp;query=java+Moscow">Senior Java developer (Java разработчик)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Ибс Инфинисофт</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71818176?from=vacancy_search_list&amp;query=java+Moscow">Middle Java developer (ИТЦ ДЖЭТ)</a></td>
     <td class="city">Москва, Профсоюзная</td>
     <td class="companyName">АО Русатом Сервис</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71821564?from=vacancy_search_list&amp;query=java+Moscow">Java developer (ПКБ)</a></td>
     <td class="city">Москва, Тульская</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72222695?from=vacancy_search_list&amp;query=java+Moscow">Teamlead / Архитектор Java</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Hi, Rockits!</td>
     <td class="salary">до 10 000 USD</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73031144?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО СК Сбербанк страхование жизни</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72754782?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Selecty</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72802949?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ЗАО 1С</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/67152571?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (Биометрия)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71437066?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик (Поддержка пользователей)</a></td>
     <td class="city">Москва, Аэропорт</td>
     <td class="companyName">VK, Одноклассники</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72429312?from=vacancy_search_list&amp;query=java+Moscow">Программист Java</a></td>
     <td class="city">Москва, Красные ворота</td>
     <td class="companyName">АО НИИАС</td>
     <td class="salary">до 200 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/68772520?from=vacancy_search_list&amp;query=java+Moscow">Java-developer (СБОЛ.Про)</a></td>
     <td class="city">Москва, Кутузовская</td>
     <td class="companyName">Сбер. IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69842826?from=vacancy_search_list&amp;query=java+Moscow">Ведущий java-разработчик (senior)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72294633?from=vacancy_search_list&amp;query=java+Moscow">Java developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">АО РТ Лабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72217557?from=vacancy_search_list&amp;query=java+Moscow">Разработчик (Java+БД)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Лига Цифровой Экономики</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69672360?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (удаленно)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">«РОСБАНК»</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/67657092?from=vacancy_search_list&amp;query=java+Moscow">Java Developer</a></td>
     <td class="city">Москва, Водный стадион</td>
     <td class="companyName">Тинькофф</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71995353?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик / Middle+/ Senior java developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">АльфаСтрахование</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71428884?from=vacancy_search_list&amp;query=java+Moscow">Java developer (команда Mobi-dick)</a></td>
     <td class="city">Москва, Алексеевская</td>
     <td class="companyName">ООО HeadHunter::Backend</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72374787?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик [Умный дом]</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ПАО «МТС», IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71394821?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Лига Цифровой Экономики</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72891969?from=vacancy_search_list&amp;query=java+Moscow">Middle Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Датаномика</td>
     <td class="salary">до 350 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72035938?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик</a></td>
     <td class="city">Москва, Полянка</td>
     <td class="companyName">АО ФинТех</td>
     <td class="salary">от 150 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70905910?from=vacancy_search_list&amp;query=java+Moscow">Senior Java Developer (Remote) / Старший Java разработчик (удаленно)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Ибс Инфинисофт</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72458092?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">АО РТ Лабс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70801137?from=vacancy_search_list&amp;query=java+Moscow">Ведущий Java разработчик (Senior)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Т1 Консалтинг</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73033337?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (middle)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69683645?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО НОВАТОР</td>
     <td class="salary">100 000 – 300 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72527918?from=vacancy_search_list&amp;query=java+Moscow">Java developer Middle</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО АЙФЭЛЛ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/67622378?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ГКУ Инфогород</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70966271?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72084915?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Лига Цифровой Экономики</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71436897?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик (Поддержка пользователей)</a></td>
     <td class="city">Санкт-Петербург</td>
     <td class="companyName">VK, Одноклассники</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72672993?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва, Проспект Вернадского</td>
     <td class="companyName">ООО Ростелеком Информационные Технологии</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69556613?from=vacancy_search_list&amp;query=java+Moscow">Java Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Diasoft</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72480103?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (PREDICT)</a></td>
     <td class="city">Москва, Аэропорт</td>
     <td class="companyName">VK, ВКонтакте</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/68933904?from=vacancy_search_list&amp;query=java+Moscow">Backend Java Developer (команда VK Звонков)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">VK, ВКонтакте</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72291600?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Санкт-Петербург</td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71673130?from=vacancy_search_list&amp;query=java+Moscow">Ведущий Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ПЭК / Офис</td>
     <td class="salary">180 000 – 200 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72022256?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО ИЦ АЙ-ТЕКО</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71269404?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва, Проспект Вернадского</td>
     <td class="companyName">ООО Ростелеком Информационные Технологии</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69041909?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО ФК ПУЛЬС</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72576793?from=vacancy_search_list&amp;query=java+Moscow">Senior Java Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ТОО Recrutoman</td>
     <td class="salary">от 3 500 USD</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73018286?from=vacancy_search_list&amp;query=java+Moscow">Senior Java Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Ambaha Solutions</td>
     <td class="salary">от 5 000 USD</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70976655?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Санкт-Петербург, Чернышевская</td>
     <td class="companyName">ООО Оператор Газпром ИД</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72428573?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва, Теплый Стан</td>
     <td class="companyName">ООО РСХБ-Интех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69659502?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва, Полянка</td>
     <td class="companyName">АО ФинТех</td>
     <td class="salary">150 000 – 250 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70584831?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72020596?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">СберЛогистика</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69884224?from=vacancy_search_list&amp;query=java+Moscow">Java developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71080117?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Bell Integrator</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72076985?from=vacancy_search_list&amp;query=java+Moscow">Java developer</a></td>
     <td class="city">Москва, Нахимовский проспект</td>
     <td class="companyName">Мираторг, Агропромышленный холдинг</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72155209?from=vacancy_search_list&amp;query=java+Moscow">Team Lead java</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО АЙТИ.СПЕЙС</td>
     <td class="salary">до 400 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72216168?from=vacancy_search_list&amp;query=java+Moscow">Senior java developer</a></td>
     <td class="city">Москва, Достоевская и еще 2</td>
     <td class="companyName">ООО Лаборатория медицинских информационных технологий Элемент</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71319683?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик (Команда интернет-магазина)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ВСК, САО</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72254134?from=vacancy_search_list&amp;query=java+Moscow">Senior Java Developer (удаленно)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">DropsTab LTD</td>
     <td class="salary">250 000 – 300 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72013860?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик (в стрим банка)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72743906?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик в Программу лояльности</a></td>
     <td class="city">Москва, Новокузнецкая и еще 2</td>
     <td class="companyName">АО Национальная система платежных карт</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69842391?from=vacancy_search_list&amp;query=java+Moscow">Senior Java developer (Дзен)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">VK</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72302240?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (ЕФР)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО РСХБ-Интех</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/68205681?from=vacancy_search_list&amp;query=java+Moscow">Middle/Senior Java developer (Операционный CRM)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71419591?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик (Стрим "Ипотека")</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72363691?from=vacancy_search_list&amp;query=java+Moscow">Java lead - разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Гаскар Интеграция</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72299826?from=vacancy_search_list&amp;query=java+Moscow">Android разработчик</a></td>
     <td class="city">Москва, Улица 1905 года</td>
     <td class="companyName">ООО Группа Компаний СПРИНГ</td>
     <td class="salary">от 500 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72516385?from=vacancy_search_list&amp;query=java+Moscow">Senior Java Developer (Cyprus)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Финдев</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70224604?from=vacancy_search_list&amp;query=java+Moscow">Senior Java Developer (2568)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Банк СОЮЗ (АО)</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72343533?from=vacancy_search_list&amp;query=java+Moscow">Ведущий разработчик JAVA/Разработчик JAVA IFD</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Комус</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/68695655?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик (проект "Группы")</a></td>
     <td class="city">Москва, Аэропорт</td>
     <td class="companyName">VK, Одноклассники</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71200303?from=vacancy_search_list&amp;query=java+Moscow">Java разработчик на мобильную RTS</a></td>
     <td class="city">Кострома</td>
     <td class="companyName">Gear Games</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72431823?from=vacancy_search_list&amp;query=java+Moscow">Middle Java Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Группа НЛМК</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72412648?from=vacancy_search_list&amp;query=java+Moscow">Технический лидер (Java)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Ингосстрах</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69633660?from=vacancy_search_list&amp;query=java+Moscow">Разработчик Java (Завершение операционного дня)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Иннотех, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/70565277?from=vacancy_search_list&amp;query=java+Moscow">Ведущий Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ПАО КБ Уральский банк реконструкции и развития (УБРиР)</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/69952874?from=vacancy_search_list&amp;query=java+Moscow">Senior Java developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ЗАО 1С</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72298758?from=vacancy_search_list&amp;query=java+Moscow">Team Lead (Java)</a></td>
     <td class="city">Москва, Нижегородская и еще 2</td>
     <td class="companyName">ООО Юнитариус</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/73031917?from=vacancy_search_list&amp;query=java+Moscow">Android разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Инсайт Люди</td>
     <td class="salary">до 200 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72118724?from=vacancy_search_list&amp;query=java+Moscow">Middle Java Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Айди Партнёр</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/71156087?from=vacancy_search_list&amp;query=java+Moscow">Программист-разработчик Java</a></td>
     <td class="city">Киров (Кировская область)</td>
     <td class="companyName">ООО РАЙТКОД</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72345602?from=vacancy_search_list&amp;query=java+Moscow">Ведущий Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">БФТ-Холдинг (Бюджетные и Финансовые Технологии)</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72069823?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик в Эквайринг</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Тинькофф</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72413057?from=vacancy_search_list&amp;query=java+Moscow">Android разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">RedOceanItSolutions</td>
     <td class="salary">250 000 – 350 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72025727?from=vacancy_search_list&amp;query=java+Moscow">Java developer (Senior)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Центр Орбита</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72123997?from=vacancy_search_list&amp;query=java+Moscow">Middle/Senior Java developer (Platform V Flow)</a></td>
     <td class="city">Москва</td>
     <td class="companyName">SberTech</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72078322?from=vacancy_search_list&amp;query=java+Moscow">Java-разработчик</a></td>
     <td class="city">Москва, Октябрьская и еще 1</td>
     <td class="companyName">red_mad_robot</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72133900?from=vacancy_search_list&amp;query=java+Moscow">Java Team Lead / Lead Java Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Альфа Капитал</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72063877?from=vacancy_search_list&amp;query=java+Moscow">Middle/Senior Java Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Ибс Инфинисофт</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72190611?from=vacancy_search_list&amp;query=java+Moscow">Ведущий Java-разработчик</a></td>
     <td class="city">Москва</td>
     <td class="companyName">Ростелеком - Центры обработки данных</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72121076?from=vacancy_search_list&amp;query=java+Moscow">Java Fullstack Developer</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Промпоставка</td>
     <td class="salary">до 180 000 руб.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://dolgoprudny.hh.ru/vacancy/72038600?from=vacancy_search_list&amp;query=java+Moscow">Java Lead</a></td>
     <td class="city">Москва</td>
     <td class="companyName">ООО Систематика</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy template" style="display: none">
     <td class="title"><a href="url"></a></td>
     <td class="city"></td>
     <td class="companyName"></td>
     <td class="salary"></td>
    </tr>
   </tbody>
  </table>
 </body>
</html>